/*
 Theme Name:   Woodmart Child
 Description:  Woodmart Child Theme / Edit by khalafi.com
 Author:       XTemos 
 Author URI:   http://xtemos.com
 Template:     woodmart
 Version:      1.0.0
 Text Domain:  woodmart
*/
.woocommerce-MyAccount-title .entry-title {
    display: none;
}
.wd-builder-off .woocommerce-MyAccount-navigation ul > li > a{
    padding:5px !important;
}
.wd-builder-off .woocommerce-MyAccount-navigation ul > li > a:hover ,
.wd-builder-off .woocommerce-MyAccount-navigation ul > li.is-active > a {
  background-color:rgb(0,0,0,0) !important;
}

.wd-builder-off .woocommerce-MyAccount-navigation ul > li > a::before {
  padding: 20px;
  content: "";
  background-color: #E2B88636;
  border-radius: 10px;
  margin-left: 10px;
  
}

.wd-builder-off .woocommerce-MyAccount-navigation ul > li.is-active > a::before {
  background-color:#D39245 !important;
}
.woocommerce-MyAccount-navigation-link--customer-logout > a::before {
  background-color: #E8064536 !important;

    background: url('icons/logout.svg') no-repeat 7px center;
    
}
@media (min-width: 769px) {
  .wd-my-account-sidebar {
    padding-inline-end: none;
    padding:30px;
    border: 1px solid #DDDDDD;
    border-radius: 24px;
  }
}

