/*
 Theme Name:   Woodmart Child
 Description:  Woodmart Child Theme / Edit by khalafi.com
 Author:       XTemos 
 Author URI:   http://xtemos.com
 Template:     woodmart
 Version:      1.0.0
 Text Domain:  woodmart
*/

.myaccount-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.myaccount-nav li a {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 14px 16px;
    border-radius: 14px;
    color: #e5e7eb;
    transition: .25s;
}

.myaccount-nav li.is-active a {
    background: #f59e0b;
    color: #000;
}

.myaccount-nav li a:hover {
    background: rgba(255,255,255,.08);
}

.myaccount-nav .icon {
    width: 22px;
    height: 22px;
}
